@import url(https://fonts.googleapis.com/css?family=Orbitron:400,700,900);

.App {
  text-align: center;
  position: relative;

}

.display {
  min-height: 100%;
}

.frame-wrapper{
  margin-top: 15px;
  animation: "blink 1s infinite";
  margin-right: 10px;
  margin-left: 10px;

}

.countdown {
  font-family: 'Orbitron', sans-serif;
  color: red;
  padding-top: 10px;
  font-size: 35px;
  text-align: center;
}

.task{
  padding-top: 10px;
  font-size: 25px;
  color: #26dafd;
  text-align: center;
}

@keyframes blink { 0%{ background-color:white; } 100%{ background-color:black; } }

